<% provide :title, t("movies.details") %>

<div class="movie_details">
  <img src="<%= @movie.picture.url %>" width="200px" height="300px">
  </img>
  <div>
    <h1><%= @movie.name %> </h1>
    <h3><%= t("movies.description", description: @movie.description) %></h3>
    <h3><%= t("movies.time", time: @movie.time) %></h3>
    <button type="button"><%= link_to t("movies.booking"), schedules_path %></button>
  </div>
</div>
<h1><%= t "comments.title" %></h1>

<%= render "form_comment" %>

<% @comments.each do |c| %>
  <ul class="comments">
    <li class="col-sm-12">
      <span class="user"><%= link_to c.user.name %></span>
      <span class="content"><%= c.content %></span>
      <span class="timestamp">
        <%= t("comments.create.timestamp", time: time_ago_in_words(c.created_at)) %>
        <% if current_user?(c.user) %>
        <%= link_to t("comments.delete.title"), movie_comment_path(movie_id:@movie.id ,id: c.id), method: :delete,
           data: {confirm: t("comments.delete.confirm")} %>
        <% end %>
      </span>
    </li>
  </ul>
<% end %>
