<%= form_for @booking do |f| %>
  <%= f.label "Tên phim" %>
  <%= f.text_field :name, value: @movie.name, disabled: true ,class: "form-control" %>
  <%= f.label "Lịch chiếu" %>
  <%= f.text_field :date,value: @schedule.start_at, disabled: true , class: "form-control" %>
  <%= f.label :email %>
  <%= f.text_field :email, value: current_user.email, disabled: true , class: "form-control" %>
  <%= f.label "Số điện thoại" %>
  <%= f.text_field :phone,value: current_user.phone, disabled: true , class: "form-control" %>
  <div class="gender">
    <%= f.radio_button :payment_type, :paypal, checked: true %>
    <%= f.label :paypal %>
  </div>
  <%= f.hidden_field :seats, value: nil , id: "selected_seats" %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>
  <%= f.hidden_field :promotion_id, value: Settings.promotion %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
