<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
  <%= f.label :phone %>
  <%= f.text_field :phone, class: "form-control" %>
  <div class="gender">
    <%= f.radio_button :gender, :male, :checked => true %>
    <%= f.label :male %>
    <%= f.radio_button :gender, :female %>
    <%= f.label :female %>
  </div>
  <div>
    <%= f.date_select :birthday, {order: [:month, :day, :year], start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
  </div>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
